        <header>
            <div style="background-color: #aacd4e">
                <h4>SOME SYMFONY TRAINING</h4>
                <br>
                <a href="{{ path('livre_index') }}">Livres</a> &nbsp;
                <a href="{{ path('editeur_index') }}">Editeurs</a> &nbsp;
                <a href="{{ path('auteur_index') }}">Auteurs</a>&nbsp;
                <a href="{{ path('categorie_index') }}">Categories</a>&nbsp;

            </div>
        </header>

